<div class="eventBody">
<h2>admin navigation</h2>
<a href="/admin"><div class="navBox">go to admin</div></a>
<a href="/options"><div class="navBox">options</div></a>
<a href="/services"><div class="navBox">services</div></a>
<a href="/accounts"><div class="navBox">accounts</div></a>
<a href="/invoice"><div class="navBox">invoice</div></a>
</div>
<br>
<br>
<div class="eventBody">
<h2>Live Views</h2>
<a href="/market"><div class="navBox">view market</div></a>
<a href="/"><div class="navBox">view homepage</div></a>
</div>