<script src="/javascripts/cart.js"></script>
<script src="/javascripts/burgBtn.js"></script>
<div id="menu" class="menu">
    <div id="burgBtn" onclick="menuOpen()" class="hamburger">
<div id="hmTop" class="hm"></div>
<div id="hmMid" class="hm"></div>
<div id="hmBot" class="hm"></div>
</div>
</div>

<div class="midBar">
    <div class="nav_container">
      <div class="navBox">  <a href="/">Home</a></div>
        </div>

     
        <div class="nav_container">
      <div class="navBox">  <a href="/register">Contact</a></div>
    </div>

</div>
</div>


 


