<a onclick="goBack()"><div class="navBox">go back</div></a>
<a href="/contact"><div class="navBox">contact</div></a>
<a href="/about"><div class="navBox">about us</div></a>
<a href="/latest"><div class="navBox">latest</div></a>
<a href="/market"><div class="navBox">market</div></a>
